// Variables
$white: #fff;
$violet: #4a1486;
$orange: #ff8001;
$light-green: #00d09b;

// Fonts

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
    url('../fonts/HelveticaNeue.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  font-size: 18px;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input:focus {
  outline: none;
}
button {
  border: 0;
}
.accordion--items {
  margin-left: auto;
  margin-right: auto;
}

.accordion--item {
  background-color: #f8f5f5;
  margin-bottom: 12px;
  border-radius: 21px;
  padding: 20px;
}

.accordion--item:last-child {
  margin-bottom: 0;
}

.accordion__title {
  cursor: pointer;
}

.accordion__title__inner {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion--item.active .accordion__title__inner {
}

.accordion__title__inner h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

.accordion__title__inner > img {
  font-size: 25px;
  font-weight: 700;
  transition-duration: 0.5s;
}

.accordion--item.active .accordion__title__inner > img {
  transform: rotate(180deg);
}

.accordion__content {
  height: 0px;
  overflow: hidden;
  transition-duration: 0.6s;
  padding-left: 63px;
  padding-right: 20px;
}

.accordion--item.active .accordion__content {
}

.accordion__content__inner {
  padding: 12px 0 15px;
  padding-bottom: 0;
}

.accordion__content__inner p {
  margin-bottom: 27.5px;
  &:first-child {
    margin-top: 10px;
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.accordion__content__inner ul {
  margin-top: 12px;
}
.mobile-fullheight-navbar {
  position: fixed;
  background: linear-gradient(to right top, #4a1486, #d90001);
  width: 100%;
  top: 0;
  padding: 50px 40px;
  transform: translateX(-100%);
  transition-duration: 0.5s;
  height: 100vh;
  overflow-y: auto;
}
.mobile-fullheight-navbar.active-navbar {
  transform: translateX(0);
}
.mobile-fullheight-navbar > button:first-child {
  position: absolute;
  border: 0;
  background-color: transparent;
  top: 10px;
  left: 15px;
  color: $white;
  font-size: 50px;
  cursor: pointer;
}
.mobile-fullheight-navbar {
  .menu__content {
    padding-top: 50px;
    nav {
      ul {
        li {
          &.active {
            a {
              background-color: $violet;
            }
          }
        }
      }
    }
  }
  .radius-button {
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
  }
}
.radius-button {
  background-color: $orange;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 7px 22px;
  font-weight: 700;
  transition-duration: .3s;
  &.active,
  &:hover {
    background-color: $violet;
  }
}
.text-green {
  color: $light-green !important;
}
.text-orange {
  color: $orange !important;
}
.bg-violet {
  background-color: $violet !important;
}
.text-violet {
  color: $violet !important;
}
h3.common-title {
  font-size: 45px;
  font-weight: 700;
  color: $violet;
}
.owl-carousel {
  .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% + 50px);
    display: flex;
    justify-content: space-between;
    margin-left: -27px;
  }
  .owl-dots {
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 0;
    padding: 10px 0;
    .owl-dot {
      width: 23px;
      height: 23px;
      background-color: #cbcbcb;
      border-radius: 50%;
      margin: 0 5px;
      &.active {
        background-color: $light-green;
      }
    }
  }
}
.ahs-sliders {
  &.owl-carousel {
    .owl-dots {
      padding: 12px 0;
      .owl-dot {
        background-color: $white;
        &.active {
          background-color: #00d09b;
        }
      }
    }
  }
}
header {
  position: absolute;
  width: 100%;
  height: 150px;
  z-index: 1;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.page-header {
    .container {
      justify-content: start;
      position: relative;
      > img {
        position: absolute;
        top: 20px;
        right: 0.75rem;
        cursor: pointer;
      }
    }
  }
}
#landing-banner {
  background: url('../images/gate-banner.jpg') no-repeat scroll center center /
    100% 100%;
  min-height: 110vh;
  position: relative;
  padding-top: 180px;
  overflow-x: hidden;
  &.home-landing {
    background: linear-gradient(to right, #4a1486, #d90001);
  }
  .container {
    padding-left: 280px;
  }
  * {
    color: $white;
  }
  #enter-password {
    height: 60px;
    color: #000;
    padding: 10px;
    width: 300px;
  }
  &.home-landing {
    padding-bottom: 120px;
    h2 {
      font-size: 100px;
      line-height: 100px;
      & + p {
        font-size: 55px;
        line-height: 60px;
      }
    }
    .radius-button {
      max-width: 290px;
      display: flex;
      justify-content: space-between;
      margin: 12.5px 0;
    }
  }
}
#page-banner {
  background: linear-gradient(to right, #4a1486, #d90001);
  padding-top: 135px;
  &.strategy-bg {
    background: url('../images/strategy/banner-bg.jpg') no-repeat scroll center
      center / cover;
  }
  &.hit-bg {
    background: url('../images/high-impact-tactics/hit-bg.jpg') no-repeat scroll
      center center / cover;
  }
  &.dtc-bg {
    background: url('../images/our-dtc/dtc-bg.jpg') no-repeat scroll center
      center / cover;
    .banner-links {
      margin-top: 180px;
    }
  }
  &.media-bg {
    background: url('../images/media/media-bg.jpg') no-repeat scroll center
      center / cover;
    .banner-links {
      margin-top: 180px;
    }
  }
  .container {
    min-height: 400px;
  }
  h2 {
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
    color: #fff;
  }
  .banner-links {
    margin-top: 85px;
    ul {
      display: flex;
      li {
        margin-right: 10px;
        a.radius-button {
          color: #fff;
          min-width: 220px;
          display: flex;
          justify-content: space-between;
          padding-left: 15px;
          padding-right: 15px;
          img {
            margin-left: 50px;
          }
        }
        &:hover,
        &.active {
          a.radius-button {
            background-color: $violet;
          }
        }
      }
    }
  }
}
// Strategy Content
#strategy-content {
  p {
    color: $violet;
    line-height: 21px;
  }
  .your-ask {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f8f5f5;
    p.border-orange-bottom {
      position: relative;
      padding-bottom: 17px;
      &::after {
        position: absolute;
        width: 120px;
        height: 4px;
        background-color: $orange;
        content: ' ';
        left: 0;
        bottom: 0;
      }
    }
  }
  .our-insights {
    padding-top: 35px;
    padding-bottom: 30px;
  }
  .vision-ambition-evolution {
    padding: 40px 0;
    background-color: #f8f5f5;
    .container {
      &:last-child {
        display: flex;
        justify-content: space-between;
        // align-items: center;
      }
    }
    h4 {
      font-size: 21px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .vae-left {
      color: $violet;
      padding: 20px 30px 25px;
      border-radius: 21px;
      background-color: $white;
      height: 100%;
    }
    .vae-middle {
      flex: 0 0 60px;
      margin-left: 20px;
      margin-right: 20px;
      align-self: center;
    }
    .vae-right {
      background-color: $violet;
      color: $white;
      padding: 20px 30px 25px;
      border-radius: 21px;
      p {
        color: $white;
      }
    }
  }
  .our-proposed {
    padding-top: 50px;
    padding-bottom: 40px;
    .accordion__title__inner {
      h3 {
        font-size: 21px;
        font-weight: 700;
        color: $violet !important;
        display: flex;
        align-items: center;
        padding-right: 40px;
        span {
          display: inline-block;
          flex: 0 0 80px;
          height: 47px;
          font-size: 28px;
          color: $white;
          font-weight: 700;
          border-radius: 15px;
          text-align: center;
          line-height: 47px;
          margin-right: 20px;
        }
      }
    }
    .accordion__content {
      padding-left: 100px;
      ul {
        li {
          line-height: 1.3;
          color: $violet;
          margin: 10px 0;
        }
      }
    }
    .accordion--item:nth-child(1) {
      .accordion__title__inner {
        h3 {
          span {
            background-color: $orange;
          }
        }
      }
    }
    .accordion--item:nth-child(2) {
      .accordion__title__inner {
        h3 {
          span {
            background-color: $violet;
          }
        }
      }
    }
    .accordion--item:nth-child(3) {
      .accordion__title__inner {
        h3 {
          span {
            background-color: #d90001;
          }
        }
      }
    }
    .accordion--item:nth-child(4) {
      .accordion__title__inner {
        h3 {
          span {
            background-color: #409d27;
          }
        }
      }
    }
  }
  .recommended-target-approach {
    background: linear-gradient(to right, #4a1486, #d90001);
    padding-top: 35px;
    padding-bottom: 60px;
    .rta-top {
      margin-bottom: 60px;
      h3 {
        margin-right: 50px;
      }
      > div {
        a {
          margin-right: 15px;
        }
      }
    }
    .rta-content {
      h4 {
        font-size: 21px;
        font-weight: 700;
      }
    }
  }
}
#hit-content {
  .last-image {
    max-width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .aklievers-app {
    padding-top: 50px;
    padding-bottom: 80px;
    .aklievers-app-left {
      h4 {
        color: $light-green;
        font-size: 21px;
        font-weight: 700;
      }
      p {
        line-height: 21px;
        color: $violet;
        margin-bottom: 13px;
      }
    }
    .aklievers-app-sliders {
      margin-left: auto;
      margin-right: auto;
      max-width: 350px;
    }
  }
  .aklief-hylander-series {
    background: linear-gradient(to right, #a77aca, #614386);
    padding-bottom: 70px;
    .container {
      > h4 {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        span {
          &:nth-of-type(1) {
            color: $light-green;
          }
          &:nth-of-type(2) {
            color: $violet;
          }
          &:nth-of-type(3) {
            color: #d567e0;
          }
        }
      }
    }
    .ahs-sliders {
      .ahs-slider-item {
        > h4 {
          font-size: 21px;
          font-weight: 700;
          color: $white;
          flex: 0 0 354px;
          span {
            color: $light-green;
          }
        }
        > img {
          flex: 0 0 550px;
          max-width: 550px;
          box-shadow: 2px 3px 15px 1px rgba(0, 0, 0, 0.3);
          margin-bottom: 17px;
        }
      }
      &.owl-carousel {
        .owl-nav {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
  .practice-assessment {
    background: #f8f5f5;
    padding-top: 70px;
    padding-bottom: 60px;
    .pa-content {
      h5 {
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 10px;
        line-height: 1.12;
      }
    }
    .pa-image {
      margin-left: -35px;
    }
  }
}
#our-dtc-content {
  .right-campaign {
    background-color: #f8f5f5;
    .rc-item {
      background-color: #fff;
      position: relative;
      padding-top: 20px;
      padding-left: 75px;
      padding-right: 20px;
      padding-bottom: 20px;
      border-radius: 21px;
      max-width: 515px;
      margin-left: auto;
      margin-right: auto;
      > img {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-50%, -35%);
      }
      .where-items {
        justify-content: space-between;
        > a {
          text-align: center;
          color: $violet;
          flex: 1;
          font-size: 14px;
          span {
            margin-top: 12px;
            display: block;
          }
          &:nth-child(1) {
            span {
              margin-top: 21px;
            }
          }
          &:nth-child(3) {
            img {
              transform: translateY(-11px);
            }
            span {
              margin-top: 3px;
            }
          }
          &:nth-child(4) {
            img {
              margin-top: 20px;
            }
            span {
              margin-top: 36px;
            }
          }
        }
      }
      p {
        line-height: 21px;
        margin-bottom: 10px;
      }
    }
    .row {
      [class*='col-'] {
        &:first-child {
          .rc-item {
            > img {
            }
            .where-items {
              > a {
                &:nth-child(1) {
                  img {
                    margin-top: -11px;
                  }
                  span {
                    margin-top: 23px;
                  }
                }
                &:nth-child(2) {
                  img {
                    transform: translateY(-11px);
                  }
                  span {
                    margin-top: 3px;
                  }
                }
                &:nth-child(3) {
                  img {
                    transform: translateY(-11px);
                  }
                  span {
                    margin-top: 3px;
                  }
                }
              }
            }
            p {
              line-height: 21px;
              margin-bottom: 10px;
            }
          }
        }
        &:last-child {
          .rc-item {
            background-color: #fff;
            position: relative;
            padding-top: 20px;
            padding-left: 75px;
            padding-right: 20px;
            padding-bottom: 20px;
            border-radius: 21px;
            > img {
              position: absolute;
              left: 0;
              top: 0;
              transform: translate(-50%, -35%);
            }
            .where-items {
              > a {
                &:nth-child(1) {
                  img {
                    margin-top: 30px;
                  }
                  span {
                    margin-top: 13px;
                  }
                }
                &:nth-child(2) {
                  img {
                    transform: translateY(-11px);
                  }
                  span {
                    margin-top: 3px;
                  }
                }
                &:nth-child(3) {
                  img {
                    transform: translateY(-11px);
                  }
                  span {
                    margin-top: 3px;
                  }
                }
              }
            }
            p {
              line-height: 21px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .tiktok {
    background: url(../images/our-dtc/tiktok-bg.jpg) no-repeat scroll center
      center / cover;
    padding-top: 50px;
    h3.common-title {
      line-height: 45px;
      margin-bottom: 15px;
      margin-top: 75px;
    }
    ul {
      margin-bottom: 65px;
      li {
        &:first-child {
          font-size: 21px;
          font-weight: 700;
        }
      }
    }
  }
  .deal-with-influencers {
    min-height: 700px;
  }
  .dtc-slider-wrapper {
    background: url('../images/our-dtc/black-girl-bg.jpg') no-repeat scroll
      center center / cover;
      padding: 65px 0;
    .dtc-slider-items {
      max-width: 540px;
      .dtc-slider-item {
        // max-width: 540px;
        margin-left: auto;
        margin-right: auto;
      }
      &.owl-carousel .owl-nav {
        width: calc(100% + 70px);
        margin-left: -35px;
      }
      &.owl-carousel .owl-dots {
        margin-top: 5px;
        text-align: right;
        .owl-dot {
          background: $white;
          &.active {
            background: #EC008C;
          }
        }
      }
    }
  }
  .get-back {
    background: linear-gradient(to right, #119f9f, #0ceaea);
    padding-top: 80px;
    padding-bottom: 120px;
    .container > h3 {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-right: 50px;
      a {
        padding: 15px;
        padding-top: 5px;
        padding-bottom: 8px;
        background: #63e5e5;
      }
    }
    .container > h4 {
      font-weight: 700;
      margin-top: 10px;
      margin-right: 50px;
    }
    h2 {
      font-size: 150px;
      font-weight: 700;
      color: $white;
    }
    .gb-item {
      background: $white;
      padding-left: 15px;
      padding-bottom: 20px;
      max-width: 335px;
      margin-left: auto;
      margin-right: auto;
      > img {
        transform: translate(-36px, -23px);
        width: calc(100% + 25px);
        max-width: calc(100% + 25px);
      }
      > p {
        margin-top: -15px;
        line-height: 21px;
        padding-right: 15px;
      }
      > a {
        font-weight: 700;
        color: #1b1464;
      }
    }
  }
  .video-ad {
  }
  .the-destination {
    color: $violet;
    padding-top: 40px;
    padding-bottom: 120px;
    background: #f8f5f5;
    p {
      margin-top: 20px;
      strong {
        font-size: 21px;
        margin-bottom: -5px;
        display: block;
      }
    }
    .tdr-image {
      img {
        margin-left: -25px;
      }
    }
  }
}

footer {
  .container {
    height: 95px;
    > a {
      &:first-child {
        max-width: 170px;
      }
      &:nth-child(2) {
        max-width: 235px;
      }
      &:nth-child(3) {
        max-width: 125px;
      }
    }
  }
}

/* Responsive */
@media (min-width: 1200px) {
  .your__ask--content {
    margin-left: -30px;
  }
}
@media (min-width: 1400px) {
  .your__ask--content {
    margin-left: -50px;
  }
  .your__ask--img {
    transform: translateX(20px);
  }
}
@media (min-width: 1500px) {
  #landing-banner {
    img.landing-img {
      height: auto;
      max-width: 800px;
      width: auto;
    }
  }
}
@media (min-width: 2000px) {
  #landing-banner {
    img.landing-img {
      max-width: 1000px;
    }
  }
}
@media (max-width: 1399px) {
  #landing-banner {
    height: auto;
    min-height: 100vh;
    background: url(../images/gate-banner.jpg) no-repeat scroll center center /
      cover;
    .landing-form {
      margin-right: 330px;
    }
    .container {
      padding-left: 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #hit-content {
    .aklief-hylander-series {
      .ahs-sliders {
        .ahs-slider-item {
          > h4 {
            flex: 0 0 269px;
          }
        }
      }
    }
  }
  #our-dtc-content .right-campaign .rc-item {
    max-width: 480px;
  }
  #our-dtc-content .get-back .container > h3 {
    margin-right: 20px;
  }
  #our-dtc-content .get-back .container > h4 {
    margin-right: 20px;
  }
}
@media (max-width: 1199.98px) {
  #our-dtc-content .dtc-slider-wrapper .ds-left .slider-bottom-icon {
    img {
      max-width: 150px;
    }
  }
  #landing-banner.home-landing {
    padding-bottom: 60px;
  }
  #landing-banner.home-landing h2 {
    font-size: 75px;
    line-height: 1.1;
  }
  #landing-banner.home-landing h2 + p {
    font-size: 40px;
    line-height: 1.12;
  }
  .page-header {
    .container {
      a.logo {
        max-width: 320px;
      }
    }
  }
  #strategy-content {
    .recommended-target-approach {
      background: linear-gradient(to right, #4a1486, #d90001);
      padding-top: 35px;
      padding-bottom: 60px;
      .rta-top {
        h3 {
          margin-right: 0;
        }
      }
    }
  }
  #hit-content {
    .aklief-hylander-series {
      .ahs-sliders {
        .ahs-slider-item {
          > h4 {
            flex: 0 0 208px;
          }
          > img {
            flex: 0 0 480px;
            max-width: 480px;
          }
        }
      }
    }
  }
  #our-dtc-content .right-campaign .rc-item {
    max-width: 530px;
  }
  #our-dtc-content .right-campaign .row [class*='col-']:last-child .rc-item {
    margin-top: 100px;
  }
  #our-dtc-content .get-back .container > h3 {
    margin-right: 0px;
  }
  #our-dtc-content .get-back .container > h4 {
    margin-right: 0px;
  }
  #page-banner h2 {
    font-size: 70px;
    line-height: 1.15;
  }
  #page-banner .banner-links ul li a.radius-button {
    font-size: 15px;
    min-width: auto;
  }
}
@media (max-width: 991.98px) {
  #our-dtc-content .dtc-slider-wrapper {
    background: #90C58D;
    padding-bottom: 35px;
  }
  #our-dtc-content .dtc-slider-wrapper .ds-left {
    > div {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #our-dtc-content .dtc-slider-wrapper .dtc-slider-items {
    margin-left: auto;
    margin-right: auto;
  }
  #page-banner {
    background: linear-gradient(to right top, #4a1486, #d90001) !important;
  }
  #landing-banner {
    background: linear-gradient(to top, #4a1486, #d90001);
  }
  #landing-banner .landing-form {
    margin-right: 0;
  }
  #our-dtc-content .the-destination {
    padding-bottom: 60px;
  }
  #our-dtc-content .the-destination .tdr-image img {
    margin-left: 0;
    margin-top: 30px;
  }
  header.page-header {
    .container {
      justify-content: center;
    }
  }
  #page-banner {
    .container {
      text-align: center;
    }
  }
  #page-banner .banner-links ul {
    justify-content: center;
  }
  #page-banner .banner-links ul li a.radius-button {
    font-size: 12px;
  }
  #page-banner .banner-links ul li a.radius-button img {
    margin-left: 20px;
    max-width: 15px;
  }

  h3.common-title {
    font-size: 38px;
  }
  #our-dtc-content .tiktok h3.common-title {
    margin-top: 5px;
  }
  #our-dtc-content .tiktok {
    background: $violet;
  }
  #our-dtc-content .tiktok .tiktok-img {
    max-width: 100px;
    margin-bottom: 12px;
  }
  #hit-content {
    .aklief-hylander-series {
      .ahs-sliders {
        .ahs-slider-item {
          padding-left: 32px;
          padding-right: 32px;
          > img {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
        .owl-nav {
          top: calc(50% + 50px);
        }
      }
    }
    .practice-assessment .pa-image {
      margin-left: 0;
    }
  }
  #our-dtc-content .get-back .gb-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #our-dtc-content .get-back {
    padding-bottom: 60px;
  }
  footer {
    .container {
      height: 95px;
      padding-top: 20px;
      padding-bottom: 20px;
      height: auto;
      > a {
        display: block;
        margin: 20px auto;
        text-align: center;
        &:first-child {
          max-width: 150px;
        }
        &:nth-child(2) {
          max-width: 200px;
        }
        &:nth-child(3) {
          max-width: 100px;
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  #our-dtc-content .dtc-slider-wrapper .ds-left > div {
    max-width: 440px;
  }
  #landing-banner {
  }
  #landing-banner.home-landing h2 {
    font-size: 55px;
    line-height: 1.1;
  }
  #page-banner {
    background: linear-gradient(to right top, #4a1486, #d90001);
    padding-top: 125px;
  }
  #page-banner .container {
    min-height: 100%;
    padding-bottom: 35px;
  }
  .page-header .container a.logo {
    margin-top: 25px;
  }
  #page-banner h2 {
    font-size: 50px;
    line-height: 1.2;
  }
  h3.common-title {
    font-size: 35px;
  }
  .accordion__content {
    padding-left: 5px;
    padding-right: 5px;
  }
  #strategy-content {
    p.border-orange-bottom {
      &::after {
        left: 50% !important;
        transform: translateX(-50%);
      }
    }
    .vision-ambition-evolution {
      padding: 40px 0;
      background-color: #f8f5f5;
      .container {
        &:last-child {
          display: block;
          text-align: center;
        }
      }
      .vae-left {
        padding-left: 15px;
        padding-right: 15px;
      }
      .vae-middle {
        transform: rotate(90deg);
        margin-top: 25px;
        margin-bottom: 25px;
      }
      .vae-right {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .recommended-target-approach {
      background: linear-gradient(to top, #4a1486, #d90001);

      padding-bottom: 40px;
      .rta-top {
        > div {
          a {
            margin-right: 7px;
            max-width: 80px;
          }
        }
      }
    }
  }
  .owl-carousel {
    .owl-nav {
    }
    .owl-dots {
      .owl-dot {
        width: 16px;
        height: 16px;
        margin: 0 3.5px;
      }
    }
  }
  #hit-content .aklief-hylander-series .container > h4 {
    font-size: 20px;
    line-height: 1.18;
  }
  #our-dtc-content .right-campaign .rc-item {
    max-width: 430px;
    padding-left: 55px;
    padding-right: 15px;
  }
  #our-dtc-content .right-campaign .rc-item > img {
    width: 80px;
  }
  #our-dtc-content .tiktok ul {
    margin-bottom: 40px;
  }
  footer .container > a {

  }
}
@media (max-width: 575.98px) {
  #our-dtc-content .dtc-slider-wrapper .ds-left > div {
    max-width: 350px;
  }
  #landing-banner.home-landing {
    background: linear-gradient(to top, #4a1486, #d90001);
  }
  #landing-banner.home-landing .radius-button {
    margin-left: auto;
    margin-right: auto;
  }
  .our-proposed {
    .accordion__title__inner {
      h3 {
        font-size: 17px !important;
        padding-right: 10px !important;
        align-items: flex-start !important;
        span {
          font-size: 20px !important;
          flex: 0 0 60px !important;
          height: 40px !important;
          line-height: 40px !important;
        }
      }
      > img {
        align-self: flex-start;
      }
    }
    .accordion__content {
      padding-left: 78px !important;
    }
  }
  #our-dtc-content .right-campaign .rc-item {
    max-width: 380px;
  }
}
@media (max-width: 479.98px) {
  #our-dtc-content .dtc-slider-wrapper .ds-left > div {
    max-width: 300px;
  }
  #our-dtc-content .dtc-slider-wrapper .ds-left .slider-bottom-icon img {
    max-width: 130px;
  }
  #landing-banner {
    .landing-form {
      margin-top: 80px;
      button {
        display: block;
        margin-left: auto !important;
        margin-top: 15px;
      }
    }
  }
  #strategy-content {
    .recommended-target-approach {
      .rta-top {
        margin-bottom: 40px;
        > div {
          a {
            margin-right: 2px;
            max-width: 65px;
            margin-left: 2px;
          }
        }
      }
    }
  }
  #hit-content {
    .aklievers-app {
      .aklievers-app-sliders {
        max-width: 300px;
      }
    }
  }
  #our-dtc-content .right-campaign .rc-item {
    max-width: 270px;
    margin-right: -5px;
  }
  #our-dtc-content
    .right-campaign
    .row
    [class*='col-']:first-child
    .rc-item
    .where-items {
    flex-wrap: wrap;
  }
  #our-dtc-content
    .right-campaign
    .row
    [class*='col-']:first-child
    .rc-item
    .where-items
    > a {
    flex: 0 0 50%;
  }
  #our-dtc-content
    .right-campaign
    .row
    [class*='col-']:first-child
    .rc-item
    .where-items
    > a:nth-child(1)
    img {
    // margin-top: -3px;
  }
}
@media (max-width: 383.98px) {
  #our-dtc-content .dtc-slider-wrapper .ds-left > div {
    max-width: 240px;
  }
  #our-dtc-content .dtc-slider-wrapper .ds-left .slider-bottom-icon img {
    max-width: 90px;
    margin-top: -17px;
  }
  .accordion__title__inner {
    h3 {
      font-size: 25px;
      img {
        max-width: 35px;
      }
    }
    > img {
      max-width: 18px;
    }
  }
  #hit-content {
    .aklievers-app {
      .aklievers-app-sliders {
        max-width: 250px;
      }
    }
  }
  #our-dtc-content .get-back .gb-item {
    max-width: 280px;
    transform: translateX(8px);
  }
}
